@import "../../style.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--light-border);
    padding: 0px 80px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
    .signupbutton {
        display: none;
    }
    @include mobile {
        padding: 0px 20px;
        .signupbutton {
            display: block;
        }
    }

    .logo {
        color: var(--primary);
    }
    a {
        text-decoration: none;
    }

    .left {
        display: flex;
        align-items: center;
        .dots {
            display: none;
            flex-direction: column;
            gap: 2px;
            margin-right: 20px;

            @include mobile {
                display: flex;
            }
            div {
                height: 4px;
                width: 4px;
                background-color: var(--primary);
                border-radius: 50%;
            }
        }
    }   
    .center {
        .search {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            border: 1px solid var(--light-border);
            border-radius: 24px;
            padding: 0 10px;
            input {
                outline: none;
                padding: 10px;
                border: none;
                width: 500px;

                @include mobile {
                    display: none;
                }

                // @include tablet {
                //     width: 200px;
                // }
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        gap: 40px;

        @include mobile {
            gap: 10px;
        }
        .dropdownmenu {
            display: none;
            flex-direction: column;
            gap: 20px;
            padding: 20px 20px;
            width: 200px;
            position: absolute;
            top: 60px;
            right: 80px;

            
            @include mobile {
                top: 60px;
                right: 0px;
            }
        
            background-color: #ffffff;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            .item {
                color: var(--light-font);
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            a {
                text-decoration: none;
                color: var(--light-font);
                &:hover {
                    text-decoration: underline;
                }
            }
            &:hover {
                display: flex;
            }
        }
        .newproject {
            color: var(--primary);
            border: 1px solid var(--primary);
            font-size: var(--ft-sm-1);
            padding: 5px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            gap: 10px;
            span {
                @include mobile {
                    display: none;
                }
            }
        }
        .newproject:hover {
            box-shadow: 0 0 10px 0px var(--primary);
        }

        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            color: var(--light-font);
            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .parent {
            padding: 10px;
            &:hover {
                .dropdownmenu {
                    display: flex;
                }
            }
        }
    }
}
