* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    --primary: #FF6154;
    --light-border: #dfdfdf;
    --dark-font: #414141;
    --dark-lt-font: #21293C;
    --light-font: #4b587c;
    --ft-lg: 1rem;
    --ft-lg-xl: 1.2rem;
    --ft-lg-xxl: 1.3rem;
    --ft-sm-1: 0.9rem;
    --ft-sm-2: 0.8rem;
}
